.big-container{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

/* body {
  background-color: #fbfbfe;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.center-title {
  text-align: center;
}

button{
  color: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  background-color: #007BFF;
  font-size:19px;
}
input{
  margin: 7px;
  border-radius: 5px;
  padding: 5px;
  outline-color: blue
}
input:active{
  border-color :blue;
}
li {
  list-style-type: none;
}
#form-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-container{
  display:grid;
grid-template-columns: 1fr 1fr
}
.form-card {
  background-color: white;
  margin: 50px;
  border-radius: 5px;
  border: 3px solid black;
} */
