body {
  background-color: #fbfbfe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span {
  background-color: #f0f0fb;
  position: absolute;
  margin: 50px;
  border-radius: 5px;
}
#form-radio {
  display: flex;
  flex-direction: column-reverse;
}

input {
  margin: 10px;
}
#userdata {
  display: flex;
  justify-content: center;
}
#carddata {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}
